html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search,
.list,
.detail {
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
}

header a {
  color: #ffffff;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

header input {
  background: transparent;
  outline: 0;
  color: grey;
  height: 5vh;
  border: none;
  padding: 5px;
  font-size: 0.9em
}

header input::placeholder {
  color: grey;
  font-size: 0.9em;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  padding: 2vh;
  background: #24292e;
  height: 15vh;
}

.user {
  width: 43vh;
  height: 10vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 15px;
  padding: 20px;
  box-shadow: 1px 2px 3px #c3c3c3;
}

.user img {
  width: 80px;
  min-height: 80px;
}

.user-detail {
  width: 25vh;
}

.user-detail img {
  width: 100%;
  min-height: 10vh;
}

.user-name h3 {
  font-weight: normal
}

.info {
  width: 60%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info img {
  width: 25px;
  min-height: 25px;
}

.user-info {
  max-height: 45%;
}

.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px;
}

.user h1 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 22px;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.user h2 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}